* {
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
    color: #323131;
    font-family: 'Open Sans', sans-serif;
}


/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
}

header img {
    width: 65px;
    margin: 10px 0 0 0;
    padding: 0;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
}

header li {
    display: inline;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid #D3D3D3;
    border-radius: 20px;
}

header li:hover {
    background-color: #000000;
    border: 1px solid #000000;
    color: white;
    cursor: pointer;
}


/* ARTICLE */

article {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 10px;
    border: 1px solid #D3D3D3;
    border-radius: 2.5px;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: left;
    margin: 5px;
    padding: 10px 20px;
}

article img {
    width: 100%;
}

p {
    margin: 10px 20px;
    font-size: 0.95rem;
}

main ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

main li {
    font-size: 0.85rem;
}

.like {
    font-size: 0.85rem;
    border: 1px solid #D3D3D3;
    border-radius: 20px;
    padding: 3px 8px;
    margin: 0 0 10px 0;
}

.like:hover {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
    cursor: pointer;

}


/* MEDIA QUERIES */

@media only screen and (min-width: 690px) {
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1110px) {
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}