body {
    background-color: ghostwhite;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    grid-column-start: 1;
    grid-column-end: 7;
}

img {
    grid-column-start: 1;
    grid-column-end: 7;
    width: 100%;
}

p {
    grid-column-start: 1;
    grid-column-end: 7;
}

ul {
    grid-column-start: 1;
    grid-column-end: 7;
}


p, li {
    font-family: 'Open Sans', sans-serif;
}

ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(6, 1fr);
}

.published-date {
    grid-column-start: 1;
    grid-column-end: 3;
}

.author_name {
    grid-column-start: 3;
    grid-column-end: 6;
}

.likes {
    grid-column-start: 6;
    grid-column-end: 7;
}

@media (min-width: 600px) {
    /*mobile first*/
}

